h1 {
  text-align: center;
  color: #00471b;
  font-size: 3rem;
  margin: 20px;
  font-weight: 900;
  letter-spacing: 2px;
  background: white;
  padding: 20px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  text-shadow:
    1px 1px 0px #ffffff,
    2px 2px 0px #ffffff,
    3px 3px 2px #00471b,
    5px 5px 10px rgba(0, 0, 0, 0.1);
}

.contentContainer {
  margin: 10px;
}

.map {
  position: relative;
}

.map img,
.map svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: auto;
}

.map img {
  z-index: auto;
}

.PostForm {
  display: flexbox;
  position: sticky;
  top: 3rem;
  left: 70vw;
  right: 1rem;
  border-radius: 25px;
  padding: 1rem 1rem 0rem 1rem;
  width: 30rem;
  height: auto;
  z-index: 4;
  border: 1px solid gray;
  background-color: lightgrey;
}

.submit-button {
  float: right;
  margin-top: 1rem;
  margin-right: 1rem;
}

#root {
  margin: 0px;
  padding: 0px;
  min-height: 5083px;
  width: 100vw;
}

svg path {
  z-index: 1;
}

.map .photos {
  position: absolute;
  z-index: 1;
  height: 200px;
  width: auto;
  border: 2px solid grey;
}

.picture-toggles {
  margin-top: 1rem;
}

svg .Dot {
  r: 4.5;
  fill: red;
  color: "red";
  transform: translate(-36px, -20px);
  z-index: 2;
  transition: r 0.2s ease;
}

svg .Dot:hover {
  r: 6;
}

.map svg foreignObject {
  overflow: visible;
}

.post {
  background-color: lightgrey;
  margin: 1rem;
  border: 5px solid grey;
  border-radius: 10px;
}

.post-title {
  margin-left: 0.5rem;
}

.post-edit {
  float: right;
  margin-left: auto;
  margin-right: 0.5rem;
}

.enter-post-title {
  margin-bottom: 1rem;
}

.post-delete {
  margin-right: 0.5rem;
}
