h1 {
  text-align: left;
  color: #333;
  font-size: 2.5rem;
  margin: 20px;
}

.contentContainer {
    margin: 10px;
}

.map {
    position: relative;
}

.map img,.map svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: auto;
}

.map img {
    z-index: auto;
}

svg path {
    z-index: 1;
}


svg .Dot {
    r:4.5;
    fill:red;
    color:"red";
    transform: translate(-36px,-20px);
    z-index: 2;

}