.map {
    position: relative;
}



.map img,.map svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: auto;
}

.map img {
    z-index: auto;
    
}

svg path {
    z-index: 1;
}

.map .photos {
    position:absolute;
    z-index: 1;
    height: 200px;
    width: auto;
    border: 2px solid grey;
}

svg .Dot {
    r:4.5;
    fill:red;
    color:"red";
    transform: translate(-36px,-20px);
    z-index: 2;

}

.map svg foreignObject {
    overflow: visible;
}