:root {
  --font-heading: "Bitter", serif;
  --font-body: "Raleway", sans-serif;

  --accent: #9d69a3; /*Vintage Lavender - Accent*/
  --accent-hover: #724976; /*Lavender*/
  --background2: #d9dbf1; /*Dark Purple D9DBF1*/
  --background: #f1ffe7; /*Honeydew - Background */
  --light-main: #2e933c; /*Forest Green*/
  --main: #297045; /*Turf Green*/
  --text: black;
  --text-light: white;
}

/* Raleway default */
* {
  font-family: var(--font-body);
}

/* Bitter Headings */
h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand,
.card-title,
.modal-title,
.alert-heading {
  font-family: var(--font-heading);
  font-weight: 700;
  color: var(--dark-green);
}

h1 {
  text-align: center;
  color: var(--main);
  font-size: 3rem;
  margin: 20px;
  padding: 20px 40px;
  letter-spacing: 2px;
  font-weight: 900;
  background: white;

  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  position: relative;
  overflow: hidden;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  text-shadow:
    1px 1px 0px #ffffff,
    2px 2px 0px #ffffff,
    3px 3px 2px #00471b,
    5px 5px 10px rgba(0, 0, 0, 0.1);
}

h3 {
  text-align: center;
  margin-left: 10px;
}

/* MAIN ACCENT BUTTON */
.accent-button {
  padding: 15px;
  margin: 3px;
  color: white;
  background-color: var(--accent);
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s;
}

.accent-button:hover {
  background-color: var(--accent-hover);
}

.accent-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  opacity: 0.6;
}

/* SECONDARY BUTTON */
.secondary-button {
  padding: 15px;
  margin: 3px;
  color: black;
  background-color: lightgrey;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.secondary-button:hover {
  background-color: var(--background2);
}

.secondary-button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.contentContainer {
  margin: 10px;
}

.map {
  position: relative;
}

.map img,
.map svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: auto;
}

.map img {
  z-index: auto;
}

.PostForm {
  display: flexbox;
  position: sticky;
  top: 3rem;
  left: 70vw;
  right: 1rem;
  border-radius: 25px;
  padding: 1rem 1rem 0rem 1rem;
  width: 30rem;
  height: auto;
  z-index: 4;
  border: 1px solid gray;
  background-color: lightgrey;
}

#root {
  margin: 0px;
  padding: 0px;
  min-height: 5083px;
  width: 100vw;
  background-color: var(--background);
}

svg path {
  z-index: 1;
}

.map .photos {
  position: absolute;
  z-index: 1;
  height: 200px;
  border: 2px solid grey;
}

svg .Dot {
  r: 6;
  fill: var(--accent);
  color: black;
  transform: translate(-36px, -20px);
  z-index: 2;
  transition: r 0.2s ease;
  /* constant blinking for usability */
  animation: blink 1.5s infinite ease-in-out;
}

svg .Dot:hover {
  fill: var(--accent-hover);
  r: 8;
}

/* blink animation for map dots*/
@keyframes blink {
  0%,
  100% {
    fill: var(--accent);
    filter: drop-shadow(0 0 8px var(--background2))
      drop-shadow(0 0 15px var(--background2));
  }
  50% {
    fill: black;
    filter: drop-shadow(0 0 0px transparent);
  }
}

.map svg foreignObject {
  overflow: visible;
}

.post {
  background-color: lightgrey;
  margin: 1rem;
  border: 5px solid grey;
  border-radius: 10px;
}

.post-title {
  margin-left: 0.5rem;
}

.post-edit {
  float: right;
  margin-left: auto;
  margin-right: 0.5rem;
}

.enter-post-title {
  margin-bottom: 1rem;
}

.post-delete {
  margin-right: 0.5rem;
}
