.button {
  padding: 10px;
  margin: 3px;
  background-color: #a1fbc3;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #95f49e;
}

.saveButton {
  background-color: #008842;
  border: none;
}

.saveButton:hover {
  background-color: #017c3e;
}

.input:focus {
  outline: none;
  border-color: #6eaa85;
  box-shadow: 0 0 0 2px rgba(161, 234, 251, 0.2);
}

