.button {
  padding: 15px;
  margin: 3px;
  color: white;
  background-color: #008842;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0ca255;
}

.saveButton {
  background-color: #008842;
  border: none;
}

.saveButton:hover {
  background-color: #017c3e;
}

.input:focus {
  outline: none;
  border-color: #6eaa85;
  box-shadow: 0 0 0 2px rgba(161, 234, 251, 0.2);
}

.modal {
  background-color: lightgrey;
}

.hiddenInput {
  display: none;
}

.customButton {
  background-color: #008842;
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

.customButton:hover {
  background-color: #017c3e;
}

.modal :global(.modal-header),
.modal :global(.modal-footer) {
  border: none;
}

.modal {
  background-color: lightgrey;
  border-radius: 10px;
  overflow: hidden;
}

.modalBody {
  background-color: white;
  border-left: 3px solid lightgrey;
  border-right: 3px solid lightgrey;
  padding: 20px;
}

.selected {
  padding-top: 10px;
  font-weight: 300;
}