.button {
  padding: 15px;
  margin: 3px;
  color: white;
  background-color: var(--accent);
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color:var(--accent-hover);
}

.uploadButton {
  background-color: var(--accent);
  border: none;
}

.uploadButton:hover {
  background-color: var(--accent-hover);
}

.input:focus {
  outline: none;
  border-color: #6eaa85;
  box-shadow: 0 0 0 2px rgba(161, 234, 251, 0.2);
}

.modal {
  background-color: var(--accent-hover);
}

.hiddenInput {
  display: none;
}

.customButton {
  background-color: var(--accent);
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

.customButton:hover {
  background-color: var(--accent-hover);
}

.modal :global(.modal-header),
.modal :global(.modal-footer) {
  border: none;
}

.modal {
  background-color: var(--accent-hover);
  border-radius: 10px;
  overflow: hidden;
}

.modalBody {
  background-color: var(--background);
  border-left: 3px solid var(--accent-hover);
  border-right: 3px solid var(--accent-hover);
  padding: 20px;
}

.selected {
  padding-top: 10px;
  font-weight: 300;
}
