.navbar {
  background: var(--main);
  padding: 15px 0;
  box-shadow: 0 4px 20px rgba(44, 71, 5, 0.25);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.brand {
  color: var(--accent);
  font-size: 1.6rem;
  font-weight: 800;
  letter-spacing: 0px;
  text-shadow: 1px 1px 1px black;
  padding: 8px 0;
  transition: all 0.3s ease;
  text-decoration: none;
}

.brand:hover {
  color: var(--accent);
  font-size: 1.65rem;
  text-decoration: none;
}

.navLink {
  color: var(--text);
  font-weight: 600;
  padding: 10px 20px;
  font-size: 1.2rem;
  margin: 0 5px;
  border-radius: 8px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
}

.navLink:hover {
  color: var(--accent-hover);
}

.navLink::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background: var(--accent);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.navLink:hover::after {
  width: 70%;
}

.userDisplay {
  color: var(--accent);
  text-shadow: 1px 1px 1px black;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 8px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
}
