.title {
  text-align: center;
  margin: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.error {
  margin: 0;
}

.input {
  padding: 10px;
  margin: 3px;
  border: 1px solid var(--background2);
  border-radius: 4px;
  font-size: 16px;
}

.input:focus {
  outline: none;
  border-color: var(--background2);
  box-shadow: 0 0 0 3px var(--accent);
}

.buttonGroup {
  margin-top: 5px;
}
