.title {
  text-align: center;
  margin: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.error {
  margin: 0;
}

.input {
  padding: 10px;
  margin: 3px;
  border: 1px solid var(--background2);
  border-radius: 4px;
  font-size: 16px;
}

.input:focus {
  outline: none;
  border-color: var(--background2);
  box-shadow: 0 0 0 3px var(--accent);
}

.submitButton {
  padding: 15px;
  background-color: var(--accent);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: var(--accent-hover);
}

.cancelButton {
  margin-left: 10px;
  border: none;
  padding: 15px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
}

.cancelButton:hover {
  background-color: lightgrey;
}

.buttonGroup {
  margin-top: 5px;
}
